.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.sectionOne, .sectionTwo, .servicesSection, .aboutSection, .contactSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionOne {
  height: 100vh;
  background: linear-gradient(120deg, #5e7293 0%, #8ba7b4 100%);
  position: relative;
  background-position: center;
  display: flex;
}

.sectionTwo {
  height: 100vh;
  background: linear-gradient(120deg, #c7c7c7 0%, #ffffff 100%);
  position: relative;
  background-position: center;
  display: flex;
}

.slogan {
  color: #fff; /* White text color for visibility against the gradient background */
  font-size: 1.4rem; /* Adjust size as needed */
  font-weight: 300; /* Lighter font weight for a modern look */
  margin-top: 20px; /* Add some space between the header and the slogan */
  text-align: center; /* Ensure it's centered under the Industrial Solutions text */
  max-width: 80%; /* Limit the width to ensure readability */
  margin-left: auto; /* Center the slogan horizontally */
  margin-right: auto; /* Center the slogan horizontally */
}

.sectionOne .left{
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
  width: min-content;
  flex: 1.5;
}

.sectionOne .right {
  flex: 1;
  height: 100%;
}

.sectionTwo .left {
  flex: 1;
  height: 100%;
}

.sectionTwo .right {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  text-align: center;
  width: min-content;
  flex: 1.5;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headerTextTop, .headerTextBottom {
  z-index: 2;
  animation: fadeInUp 1s ease-out forwards;
  position: relative;
}

.headerTextTop {
  font-size: 6rem;
  font-weight: 900;
  background: linear-gradient(45deg, #89fffd, #a1c4fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  margin-bottom: -30px;
}

.headerTextBottom {
  font-size: 2rem;
  color: #fff;
}

.servicesSection, .aboutSection, .contactSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesSection {
  height: 50vh;
  padding: 4rem 2rem; /* Increased padding for better spacing */
  background: linear-gradient(120deg, #c7c7c7 0%, #ffffff 100%);
  color: #333; /* Dark color for better contrast and readability */
}

.servicesSection h2 {
  text-align: center;
  font-size: 2.5rem; /* Larger size for the section title */
  margin-bottom: 1rem; /* Space below the title */
  color: #0056b3; /* A color that stands out */
  font-weight: 700; /* Heavier weight for emphasis */
}

.servicesSection p {
  max-width: 800px; /* Limit the width for better readability */
  text-align: left; /* Left-aligned text for easier reading */
  margin-left: auto; /* Center the paragraph */
  margin-right: auto; /* Center the paragraph */
  font-size: 1rem;
  line-height: 1.6; /* Improved line spacing for readability */
}

.aboutSection {
  padding: 4rem 2rem; /* Provides ample space around the content */
  color: #333; /* Ensures good readability against a light background */
  min-height: 50vh; /* Ensures the section is at least half the viewport height */
  background: linear-gradient(120deg, #5e7293 0%, #8ba7b4 100%);
}

.aboutSection h2 {
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(45deg, #89fffd, #a1c4fd);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.aboutSection p {
  color: #fff; /* White text for better contrast */
  max-width: 800px; /* Restricts the width for better line length */
  text-align: justify; /* Ensures the text is evenly distributed */
  margin: 0 auto; /* Centers the text block */
  font-size: 1.2rem; /* Maintains a readable font size */
  line-height: 1.6; /* Improves readability with increased line height */
}

.contactSection {
  padding: 4rem 2rem;
  background-color: #EFEFEF; /* A subtle background to differentiate the section */
  color: #333;
}

.contactSection h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: blac;
  font-weight: bold;
}

.contactSection p, .contactInfo {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center; /* Centers the text for a unified look */
  margin-bottom: 1rem; /* Adds space between paragraphs and contact info */
}

/* Enhancing the contact form appearance */
.contactForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto; /* Center the form */
}

.contactForm input, .contactForm textarea {
  padding: 0.5rem;
  margin-bottom: 1rem; /* Space between form fields */
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 5px; /* Soften the edges */
}

.contactForm button {
  background-color: #0056b3; /* Button color matches the section titles */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicates the button is clickable */
}

.contactForm button:hover {
  background-color: #004494; /* Darker shade on hover for feedback */
}


.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}


.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.cardImage {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.cardImage:hover {
  transform: scale(1.05);
}

.cardContent {
  padding: 1rem;
}

.contactSection {
  background-color: #dde1e4;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .cardContainer .card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 800px) {
  .video {
    display: none;
  }
  .sectionOne .right {
    display: none;
  }
  .sectionTwo .left {
    display: none;
  }
  .contactSection {
    flex-direction: column;
  }
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .contactSection .right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .headerTextTop {
    font-size: 4rem;
  }
  .aboutSection h2 {
    font-size: 3rem;
  }
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-2 {
  margin-top: 2rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px; /* Space between form fields */
}

.formGroup label {
  display: block;
  margin-bottom: 5px; /* Space between label and input */
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup textarea {
  width: 100%; /* Ensure form fields take up the full container width */
  padding: 10px; /* Add some padding for aesthetics */
  border: 1px solid #ccc; /* A light border for the input fields */
  border-radius: 5px; /* Rounded corners for the input fields */
}

.formGroup textarea {
  resize: vertical; /* Allow vertical resizing */
}

.contactSection .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactSection .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textInput {
  background-color: #f4f4f4;
}

.button {
  background-color: #0056b3; /* Button color to match your theme */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Change cursor to indicate button */
  font-size: 1rem; /* Adjust font size as needed */
}